@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,200;1,400;1,500&family=Ubuntu:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(45deg, #6275ee, #8fdae6);
}

.navigation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.2);
/* Here delay width and height for toggle */
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s;
    /* * First for height , and Width */
    overflow: hidden;
}

.navigation.active {
    width: 300px;
    height: 400px;
    transition: width 0.5s, height 0.5s;
    -webkit-transition: width 0.5s, height 0.5s;
    -moz-transition: width 0.5s, height 0.5s;
    -ms-transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0.75s;
}

.navigation .userBx {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #fff;
    /**CenterUsernamewhenactive*/display: flex;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition-delay: 0.5s;
}

.navigation.active .userBx {
    width: calc(100% - 60px);
}

.navigation .userBx .userName {
    white-space: nowrap;
    color: #555;
    font-size: 1.1em;
}

/* ! Image styling */
.navigation .userBx .imgBx {
    position: relative;
    min-width: 60px;
    height: 60px;
    background: #000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border: 10px solid #fff;
    overflow: hidden;
}

.navigation .userBx .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation .menuToggel {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ! Toggel menu Lines  */

.navigation .menuToggel::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 3px;
    background-color: #555;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    box-shadow: 0 10px #555;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.navigation .menuToggel::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 3px;
    background-color: #555;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

/* When click on Menu  */
.navigation.active .menuToggel::before {
    transform: translateY(0px) rotate(45deg);
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 #555;
}

.navigation.active .menuToggel::after {
    transform: translateY(0px) rotate(-45deg);
    -webkit-transform: translateY(0px) rotate(-45deg);
    -moz-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    -o-transform: translateY(0px) rotate(-45deg);
}

/* ! Styling ul  */
.menu {
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.menu li {
    list-style: none;
}
.menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    text-decoration: none;
    font-size: 1em;
    color: #555;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
}

.menu a:hover {
    color: #6275ee;
}

.menu li a ion-icon {
    font-size: 1.5em;
}
h1 {
    position: fixed;
    top: 20px;
    left: 20px;
    color: rgb(118, 198, 241);
    padding: 10px;
    display: flex;
    align-items: center;
}
h1 ion-icon {
    margin-left: 10px;
}

